[submodule "gym-backend"]
	path = gym-backend
	url = git@github.com:HMBcorp/hom-backend.git
[submodule "gym-frontend"]
	path = gym-frontend
	url = git@github.com:HMBcorp/hom-frontend.git
[submodule "gym-apps"]
	path = gym-apps
	url = git@github.com:HMBcorp/hom-apps.git
[submodule "automation"]
	path = automation
	url = git@github.com:wahyudwikrisnanto/hom-cypress.git
